body {
    background-color: #dad7cd;
    height: 100vh;
}

.heading {
    font-size: 3em;
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.inspector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    min-width:200px;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    background-color: #012a4a;
    color: #a9d6e5;
    font-weight: bolder;
    margin-right:40px;
}

.border {
    border: 1px solid #a9d6e5;
}

.buttons p {
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.colour-picker {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    font-size: 1.3em;
}

.colour-picker input {
    padding: 0;
    border: 0;
    width: 40%;
}

.slider-control {
    width: 65%;
}

#rangeValue {
    margin-bottom: 0px;
}

#grid {
    border: 10px solid slategray;
    background-color: whitesmoke;
    display: flex;
    flex-flow: wrap;
    margin-left:40px;
    min-width: 500px;
    min-height: 500px;
    cursor: crosshair;
}

.line-break {
    width: 100%;
}